/* types badge css */
ul.types li {
  display: inline-block;
  text-align: center;
  padding-left: 5px;
  font-size: 1.2em;
}

ul.types {
  padding-inline-start: 0px;
}

.fade {
  opacity: 0.89;
}
.fade:hover {
  opacity: 1;
}

.zoom-in {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.zoom-in:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
}
